Question 1: Given a set my_set = {10, 20, 30, 40, 50}, how can you access the element 30 from the set? Write a Python program to achieve this.

In [3]:
my_set ={10,20,30,40,50}
my_set.remove(10)
my_set.remove(20)
my_set.remove(50)
my_set.remove(40)
my_set

{30}

Question 2: Suppose you have a set my_set = {15, 25, 35, 45, 55}, how can you perform slicing on a set? Write a Python program to demonstrate.

In [27]:

my_set={15,25,35,45,55}
my_set=slice(15,55)
my_set

slice(15, 55, None)


Question 3: Given two sets set1 = {1, 2, 3} and set2 = {4, 5, 6}, how can you perform union operation on them? Write a Python program to achieve this.

In [10]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

Question 4: Suppose you have a set my_set = {1, 2, 3, {4, 5, 6}}, how can you access the nested set {4, 5, 6} from it? Write a Python program to achieve this.

In [28]:
my_set={1, 2, 3,{4, 5, 6}}
for i in my_set:
  if isinstance(element,set):
    nested_set=element

TypeError: unhashable type: 'set'

Question 5: Given a set my_set = {1, 2, 3, 4, 5}, how can you convert it to a list? Write a Python program to achieve this.

In [4]:
my_set ={1,2,3,4,5}
list(my_set)

[1, 2, 3, 4, 5]